<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Navigation bar -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <a class="navbar-brand mx-4" href="/restaurants">
      <img class="avatar" src="https://picsum.photos/200" />
    </a>

    <div class="pr-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to '➕ Add Restaurant', new_restaurant_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
